#!/usr/bin/env python3

# IP Address for FRRouting API to lisen on
api_listen_addr = "*"

# Port for FRRouting API to listen on
api_port = 8080

# Fill in API Key Hash from `manage.py generatekey`
api_key = ""
