curl -d '{"cmd": "bgp_route", "afi": "ipv4", "target": "1.1.1.0/24"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "bgp_route", "afi": "ipv6", "target": "2606:4700:4700::/48"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "bgp_community", "target": "14525:5000"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "bgp_aspath", "target": "_395077$"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "ping", "afi": "ipv4", "target": "1.1.1.1", "source": "199.34.92.3"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "traceroute", "afi": "ipv4", "target": "1.1.1.1", "source": "199.34.92.3"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://10.12.252.221:5000/frr

curl -d '{"cmd": "traceroute", "afi": "ipv4", "target": "1.1.1.1", "source": "199.34.92.3"}' -H "Content-Type: application/json" -H "X-API-Key: test1234" -X POST http://199.34.92.3:5000/frr


import requests

headers = {
    'Content-Type': 'application/json',
    'X-API-Key': 'test1234',
}

data = '{"cmd": "bgp_route", "afi": "ipv4", "target": "1.1.1.0/24"}'

response = requests.post('http://10.12.252.221:5000/frr', headers=headers, data=data)


## Restconf

curl -H "Content-Type: application/vnd.yang.datastore+json" -H "Accept: application/vnd.yang.datastore+json" -X POST http://199.34.92.2

curl -X POST -u osadmin:OSL3v3lup14525!  \
http://10.11.252.242:8080/api/operations/devices/device/csr1kv/config/ios:EXEC/default \
-H "Content-Type: application/vnd.yang.data+json" \
-d '{"input": {"args" : "interface Loopback 100"}}'
